html,
body {
  font-family:
    'Inter',
    'HarmonyOS Sans SC Medium',
    'HarmonyOS_Medium',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif !important;
}

.arco-message {
  border-radius: 8px;
}

.arco-divider-horizontal {
  @apply my-16px;
}
.arco-form-size-large .arco-form-item-label-col {
  @apply leading-28px;
}

.dark ::selection {
  background-color: #686868;
}
::selection {
  background-color: #5b61ff;
  color: #fff;
}

:root {
  --ani-bezier: cubic-bezier(0.22, 0.58, 0.12, 0.98); // 动画曲线
}

body[arco-theme='dark'] {
  --arcoblue-6: 100, 108, 255;
}

// 渐显渐隐的效果
.custom-fade-enter-active,
.custom-fade-leave-active {
  transition: opacity 0.25s var(--ani-bezier);
}

.custom-fade-enter-from,
.custom-fade-leave-to {
  opacity: 0;
}

.custom-fade-leave-active {
  position: absolute;
}

.arco-popover-popup-content {
  width: 360px;
}
