/*
  中文
  鸿蒙的regular字重https://s1.hdslb.com/bfs/static/jinkela/long/font/regular.css
  鸿蒙的medium字重https://s1.hdslb.com/bfs/static/jinkela/long/font/medium.css
*/
@import url('https://s1.hdslb.com/bfs/static/jinkela/long/font/medium.css');

html,
body {
  font-family: 'HarmonyOS Sans SC Medium', 'HarmonyOS_Medium', system-ui, —apple-system,
  Segoe UI, Rototo, Helvetica, Arial, sans-serif !important;
}

body[arco-theme="dark"] {
  --arcoblue-6: 100, 108, 255;
}

.arco-message {
  border-radius: 8px;
}

.arco-divider-horizontal {
  @apply my-16px;
}
.arco-form-size-large .arco-form-item-label-col {
  @apply leading-28px;
}

.dark ::selection {
  background-color: #686868;
}
::selection {
  background-color: #5b61ff;
  color: #fff;
}

.arco-popover-popup-content {
  width: 360px;
}
